<% provide(:title, 'Home') %>

<h1>Gossip Fish</h1>
<p>This is the home page for the Gabriel's Gossip Fish prototype application. </p>

<%= link_to "Sign up now!", signup_path, class: "signup_button round" %>
